---
layout: layout.hbs
data: startups.yaml
---

<h2>Lista de startups</h2>

{{#each data}}
  - Nombre: {{name}}<br />
    Logo: <img src="{{logo}}" alt="{{name}} logo"/><br />
    Descripción: {{description}}<br />
    Año de fundación: {{foundedYear}}<br />
    Estatus: {{status}}<br />
    Industrias:
    {{#each this.industries}}
      - {{this}}
    {{/each}}

    Empleados: {{employees}}<br />
    Website: <a href="http://{{website}}">{{website}}</a><br />
    CTO: {{cto}}<br />
    Tech Stack:
    {{#each this.stack}}
    - {{this}}<br />
    {{/each}}
{{/each}}
